/* 
    General Styles
*/
.favorite {
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 60px;
    color: whitesmoke;
    user-select: none;
    cursor: pointer;
    transition: color .5s, font-weight .6s;
    transition-timing-function: ease;

    &.favorite-yes {
        color: red;
    }

    &:hover {
        font-weight: bolder;
    }


}


.position-relative {
    position: relative;
}